<header>

  	<nav class="navbar is-transparent is-fixed-top is-expanded" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="#" class="navbar-item" href="https://bulma.io">
					<img src="img/logo-transparent.png" width="112" height="28" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox">
				</a>

				<a href="/" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
					</div>

					<div class="navbar-end">

						<a href="/about" class="navbar-item">
						About
						</a>

						<a href="/landlords" class="navbar-item">
						Landlords
						</a>

						<a href="/investors" class="navbar-item">
						Investors
						</a>

						<a href="/contacts" class="navbar-item">
						Contact
						</a>

						<a href="/contacts" class="navbar-item">
							<span class="icon">
								<i class="fab fa-facebook"></i>
							</span>
						</a>

						<a href="/contacts" class="navbar-item">
							<span class="icon">
								<i class="fab fa-instagram"></i>
							</span>
						</a>
				</div>

			</div>
		</div>
	</nav>

</header>