<!DOCTYPE html>

<html class="has-navbar-fixed-top" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="author" content="{{ author }}">
		<meta name=”robots” content="index, follow">

		<!-- Open Graph meta tags -->
		<meta property="og:title" content="{{ title }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.site-url.co.uk{{ page.url }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="image.png">

		<link rel="icon" href="/favicon.ico">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<link type="text/css" rel="stylesheet" href="/css/style.css">

		{# {% set css %}
			
		{% endset %}
		<style>{{ css | cssmin | safe }}</style> #}

	</head>

	<body>
		{% if header %}
			{% include 'header.njk' %}
		{% endif %}
		
		<div class="section-container" data-scroll-container>

			<main id="main">
				{{ content | safe }}
			</main>
			{% include 'footer.njk' %}

		</div>
		
		<script src="/js/scripts.js" type="module"></script>
		<script src="https://kit.fontawesome.com/8dc326cfcc.js" crossorigin="anonymous"></script>
	</body>
</html>