// List reset

ol {
    padding-left: 17px;
}

ul {
    list-style-type: disc;
}

ul ul {
    padding-left: 17px;
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

// Full height section

.section.is-fullheight {
    min-height: 100vh;
}

.section.is-fullheight-with-navbar {
    min-height: calc(100vh - $navbar-height);
}

// Navbar styling

.navbar.is-transparent {
    background: transparent;
}